@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

html {
  min-width: screen;
  min-height: screen;
}

:root {
  --text: #451e51;
  --text-dark-mode: #fffae8;
  --bg: #fffae8;
  --dark-bg: #171000;
  --code-bg: #451e51;
  --code-text: #80e6da;

  --serif: "Averia Serif Libre", serif;
  --san: "Gothic A1", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  letter-spacing: 0.18px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  transition: background-color 0.6s ease-in-out;
}

.header {
  font: 2rem var(--serif);
  font-weight: bold;
}

.subheader {
  font: 1.6rem var(--serif);
  font-weight: 400;
  .light {
    color: var(--text);
  }

  .dark {
    color: var(--text-dark-mode);
  }
}

.h3 {
  font: 1.3rem var(--serif);
  font-weight: 400;

}

.caption {
  font: 1rem var(--san);
  font-weight: 300;
}

.body {
  font: 1rem var(--san);
  font-weight: 300;

  .light {
    color: var(--text);
  }

  .dark {
    color: var(--text-dark-mode);
  }
}

.text-light {
  color: var(--text-dark-mode);
}

.date {
  font: 0.8rem var(--san);
  font-weight: 0.8rem;
  font-style: italic;
  opacity: 0.7;
}

.min-container {
  min-width: 250px;
}

.bg-default {
  background-color: var(--bg);
  transition: all 0.6s ease-in-out;
}

.dark .bg-default {
  background-color: var(--dark-bg);
}

.hover-underline:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.3rem;
}