@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

html {
  min-width: screen;
  min-height: screen;
}

:root {
  --text: #000000;
  --text-h: #000000;
  --bg: #fff;
  --code-bg: #451e51;
  --code-text: #80e6da;

  --serif: "Averia Serif Libre", serif;
  --san: "Gothic A1", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  letter-spacing: 0.18px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  transition: background-color 0.6s ease-in-out;
}

.header {
  font: 2rem var(--serif);
  font-weight: bold;
}

.subheader {
  font: 1.5rem var(--serif);
  font-weight: 400;
}

.h3 {
  font: 1.3rem var(--serif);
  font-weight: 400;
  
}

.caption {
  font: 1rem var(--san);
  font-weight: 300;
  font-style: italic;
}

.body {
  font: 1rem var(--san);
  font-weight: 300;
}

.date {
  font: 0.8rem var(--san);
  font-weight: 0.8rem;
  font-style: italic;
}

.min-container {
  min-width: 250px;
}