@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

html {
  min-width: screen;
  min-height: screen;
}

/* --------- Font-Faces ------- */

@font-face {
  font-family: "Averia Serif Libre";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.tff') format('tff')
}

@font-face {
  font-family: "Averia Serif Libre Italic";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Averia_Serif_Libre/AveriaSerifLibre-Italic.tff') format('tff')
}

@font-face {
  font-family: "Averia Serif Libre Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Averia_Serif_Libre/AveriaSerifLibre-Light.tff') format('tff')
}

@font-face {
  font-family: "Averia Serif Libre Light Italic";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Averia_Serif_Libre/AveriaSerifLibre-LightItalic.tff') format('tff')
}

@font-face {
  font-family: "Averia Serif Libre Bold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Averia_Serif_Libre/AveriaSerifLibre-Bold.tff') format('tff')
}

@font-face {
  font-family: "Averia Serif Libre Bold Italic";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Averia_Serif_Libre/AveriaSerifLibre-BoldItalic.tff') format('tff')
}

@font-face {
  font-family: "Averia Serif Libre";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.tff') format('tff')
}

@font-face {
  font-family: "Averia Serif Libre Italic";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Averia_Serif_Libre/AveriaSerifLibre-Italic.tff') format('tff')
}

@font-face {
  font-family: "Gothic A1 Thin";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/Gothic_A1/GothicA1-Thin.tff') format('tff')
}

@font-face {
  font-family: "Gothic A1 Extra Light";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/Gothic_A1/GothicA1-ExtraLight.tff') format('tff')
}

@font-face {
  font-family: "Gothic A1 Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Gothic_A1/GothicA1-Light.tff') format('tff')
}

@font-face {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Gothic_A1/GothicA1-Regular.tff') format('tff')
}

@font-face {
  font-family: "Gothic A1 Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Gothic_A1/GothicA1-Medium.tff') format('tff')
}

@font-face {
  font-family: "Gothic A1 Semi Bold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Gothic_A1/GothicA1-SemiBold.tff') format('tff')
}

@font-face {
  font-family: "Gothic A1 Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Gothic_A1/GothicA1-Bold.tff') format('tff')
}

@font-face {
  font-family: "Gothic A1 Extra Bold";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/Gothic_A1/GothicA1-ExtraBold.tff') format('tff')
}

@font-face {
  font-family: "Gothic A1 Black";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Gothic_A1/GothicA1-Black.tff') format('tff')
}

/* ---------------- */

:root {
  --text: #451e51;
  --text-dark-mode: #fffae8;
  --bg: #fffae8;
  --dark-bg: #171000;
  --code-bg: #451e51;
  --code-text: #80e6da;

  --serif: "Averia Serif Libre", serif;
  --san: "Gothic A1", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  letter-spacing: 0.18px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  transition: background-color 0.6s ease-in-out;
}

.header {
  font: 2rem var(--serif);
  font-weight: bold;
}

.subheader {
  font: 1.6rem var(--serif);
  font-weight: 400;
  .light {
    color: var(--text);
  }

  .dark {
    color: var(--text-dark-mode);
  }
}

.h3 {
  font: 1.3rem var(--serif);
  font-weight: 400;

}

.caption {
  font: 1rem var(--san);
  font-weight: 300;
}

.body {
  font: 1rem var(--san);
  font-weight: 300;

  .light {
    color: var(--text);
  }

  .dark {
    color: var(--text-dark-mode);
  }
}

.text-light {
  color: var(--text-dark-mode);
}

.date {
  font: 0.8rem var(--san);
  font-weight: 0.8rem;
  font-style: normal;
  opacity: 0.7;
}

.min-container {
  min-width: 250px;
}

.bg-default {
  background-color: var(--bg);
  transition: all 0.6s ease-in-out;
}

.dark .bg-default {
  background-color: var(--dark-bg);
}

.hover-underline:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.3rem;
}